* {
  box-sizing: border-box;
}

html {
  font-family: "Inconsolata", monospace;
}

body {
  border: 1px solid #888;
  box-shadow: 4px 4px 4px #ccc;
  padding: 20px;
  color: #555;
}

nav {
  pointer-events: none;
}

#editMenu, #breadcrumbs {
  pointer-events: auto;
}

ul.directoryIndex {
  margin: 20px;
  padding: 0;
  list-style: none;
  pointer-events: auto;
}

@media screen
and (min-width: 981px) {
  html {
    font-size: 21px;
    background: rgb(68, 176, 205, 0.275);
  }

  body {
    margin: 20px auto;
    width: 984px;
    background: white;
  }

  header {
    margin-bottom: 20px;
  }

  #logoAnchor {
    line-height: 0;
  }

  header, h2 {
    font-size: 26px;
  }

  header img {
    width: 64px;
    height: 64px;
  }

  section {
    float: right;
    width: 50%;
  }

  main nav {
    width: 50%;
  }

  ul.directoryIndex {
    float: left;
  }

  ul.directoryIndex li {
    padding: 3px 0 0 35px;
    margin: 5px 0;
  }

  ul.directoryIndex li.directory {
    background: url("/img/folder_24.png") no-repeat left 50%;
  }

  ul.directoryIndex li.file {
    background: url("/img/file_24.png") no-repeat left 50%;
  }
}

@media screen
and (max-width: 980px) {
  article {
    max-height: 999999px;
  }

  html {
    background: white;
    font-size: 38px;
  }

  body {
    margin: 0;
    width: 100%;
    box-shadow: none;
    border: none;
  }

  header {
    margin: 10px 0 30px 0;
  }

  header, h2 {
    font-size: 44px;
  }

    header img {
      width: 80px;
      height: 80px;
      margin-top: 16px;
    }

  ul.directoryIndex {
    max-height: 999999px;
  }

    ul.directoryIndex li {
      padding: 2px 0 0px 50px;
      margin: 7px 0;
    }

    ul.directoryIndex li.directory {
      background: url("/img/folder_32.png") no-repeat left 50%;
    }

    ul.directoryIndex li.file {
      background: url("/img/file_32.png") no-repeat left 50%;
    }
}

a {
  color: #ce567e;
}

a:hover {
  color: #44b0cd;
}

h1 {
  color: #555;
}

h2 {
  color: #a5c501;
}

header {
  display: flex;
  align-items: center;
  height: 64px;
}

  #breadcrumbs {
    list-style: none;
    display: flex;
    margin: 0 0 0 5px;
    padding: 0;
  }

    #breadcrumbs li {
      padding-left: 10px;
    }

    #breadcrumbs li:before {
      margin-right: 10px;
      content: "\221E";
      font-weight: normal;
      color: #555;
    }

    #breadcrumbs > li:last-of-type {
      font-weight: bolder;
    }

  header h1 {
    display: inline;
    font-size: 1em;
  }

main {
  line-height: 1.5;
}

article:focus {
  outline: none;
}

.hidden {
  display: none;
}

blockquote {
  border-left: 5px solid rgb(255, 212, 0, 0.5);
  padding-left: 15px;
  margin-left: 15px;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  background: #eee;
  display: inline-block;
  padding: 0 5px;
}

pre code {
  padding: 10px;
  width: 100%;
}

h2 {
  line-height: 1;
  margin-top: 30px;
}

footer {
  clear: both;
}
